
<div>
    <h1>#{{listar.id}} {{listar.nome}}</h1>

    <ul>
        <li><strong>Módulos:</strong> {{listar.modulos}}</li>
        <li><strong>Turmas:</strong> {{listar.turmas}}</li>
        <li><strong>Carga-horária:</strong> {{listar.cargaHoraria}}</li>
        <li><strong>Descrição:</strong> {{listar.descricao}}</li>
    </ul>
    <button><a href="/cursos/edit/{{listar.id}}">Editar</a></button>
    <button><a href="/cursos">Voltar</a></button>
</div>