
<div>
    <h1>#{{listar.id}} {{listar.nome}}</h1>

    <ul>
        <li><strong>Carga Horária:</strong> {{listar.cargaHoraria}}</li>
        <li><strong>Tempos:</strong> {{listar.tempos}}</li>
    </ul>
    <button><a href="/materia/edit/{{listar.id}}">Editar</a></button>
    <button><a href="/materia">Voltar</a></button>
</div>