
<div>
    <h1>#{{listar.id}} {{listar.nome}}</h1>

    <ul>
        <li><strong>Matrícula:</strong> {{listar.matricula}}</li>
        <li><strong>Telefone:</strong> {{listar.telefone}}</li>
        <li><strong>Endereço:</strong> {{listar.endereco}}</li>
    </ul>
    <button><a href="/professores/edit/{{listar.id}}">Editar</a></button>
    <button><a href="/professores">Voltar</a></button>
</div>