
<div class="editInfos">
    <h2>Editar informações de {{infos.nome}}</h2>
    <form action="/updateprofessor" method="post">
        <input type="text" name="id" value="{{infos.id}}">
        <input type="text" name="nome" value="{{infos.nome}}">
        <input type="text" name="matricula" value="{{infos.matricula}}">
        <input type="text" name="telefone" value="{{telefone}}">
        <textarea name="endereco" cols="30" rows="10">{{infos.endereco}}</textarea>
        <input type="submit">
    </form>
</div>