<head>
    
</head>
<div class="editInfos">
    <h2>Editar informações de {{infos.nome}}</h2>
    <form action="/updatemat" method="post">
        <input type="text" name="id" value="{{infos.id}}">
        <input type="text" name="nome" value="{{infos.nome}}">
        <input type="text" name="cargaHoraria" value="{{infos.cargaHoraria}}">
        <input type="text" name="tempos" value="{{infos.tempos}}">
        <input type="submit">
    </form>
</div>